[submodule "bundle/bad-whitespace"]
	path = bundle/bad-whitespace
	url = https://github.com/bitc/vim-bad-whitespace
[submodule "bundle/minibufexpl"]
	path = bundle/minibufexpl
	url = https://github.com/fholgado/minibufexpl.vim.git
[submodule "bundle/neocomplcache"]
	path = bundle/neocomplcache
	url = https://github.com/Shougo/neocomplcache.git
